@import 'jeet'
@import 'nib'

html, body
  margin: 0
  padding: 0
  height: 100%
  text-decoration: none
  background-image: url('../asset/brickwall.png')
.btn
  cursor: pointer
  text-align: center
  background-color: #7F543F
  color: #FFDBCA
  border: 5px solid #CCAFA2
  box-sizing: border-box
  text-shadow: 0 1px 0
  box-shadow: 3px 3px 1px #e3e3e3
  &:hover
    background-color: #FFDBCA
    color: #7F543F
  &:active
    color: #CCAFA2
    border-color: #7F6E65

.container
  height: 100%
  background-image: url('../asset/fabric_of_squares_gray.png')
  font-family: 'Open Sans', sans-serif;
  center(960px)
  .title
    font-size: 600%
    text-align: center
  .form
    .completeForm
      col(1/3)
    .radioForm
      col(1/2)
    .subForm
      height: 100%
      text-align: center
      .countValue
        font-size: 500% 
      .radioValue
        font-size: 200%
        col(1/4)
      .switch
        width: 100px;
        height: 100px;
        position: relative;
        label
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          border-radius: 50%;
          background: #eaeaea;
          box-shadow: 
            0 3px 5px rgba(0,0,0,0.25),
            inset 0 1px 0 rgba(255,255,255,0.3),
            inset 0 -5px 5px rgba(100,100,100,0.1),
            inset 0 5px 5px rgba(255,255,255,0.3);
            &:after
              content: "";
              position: absolute;
              z-index: -1;
              top: -8%; 
              right: -8%; 
              bottom: -8%; 
              left: -8%;
              border-radius: inherit;
              background: #ddd; /* Fallback */
              background: linear-gradient(#ccc, #fff);
              box-shadow: 
                inset 0 2px 1px rgba(0,0,0,0.15),
                0 2px 5px rgba(200,200,200,0.1);
      .bigBtn
        @extend .btn
        border-radius: 50%
        font-size: 200%
        height: 200px
        line-height: 190px
        center(200px)
        margin-bottom: 20px
      .label
        font-size: 200%
        label
          @extend .btn
          border-radius: 10%
          height: 100px
          line-height: 90px
          cursor: pointer
          col(1/4)
        input
          display: none
          col(1/4)
          &:checked + label
            color: red
