@import 'jeet'
@import 'nib'

html, body
  margin: 0
  padding: 0
  height: 100%
  text-decoration: none
  background-image: url('../asset/brickwall.png')
  //z-index for switch button
  z-index: -5
.btn
  cursor: pointer
  text-align: center
  background-color: #7F543F
  color: #FFDBCA
  border: 5px solid #CCAFA2
  box-sizing: border-box
  text-shadow: 0 1px 0
  box-shadow: 3px 3px 1px #e3e3e3
  &:hover
    background-color: #FFDBCA
    color: #7F543F
  &:active
    color: #CCAFA2
    border-color: #7F6E65

.container
  //z-index for switch button
  z-index: -5
  height: 100%
  background-image: url('../asset/fabric_of_squares_gray.png')
  font-family: 'Open Sans', sans-serif;
  center(960px)
  .title
    font-size: 500%
    text-align: center
  .form
    .completeForm
      col(1/3)
    .radioForm
      col(1/2)
    .subForm
      height: 100%
      text-align: center
      .countValue
        font-size: 300% 
      .radioValue
        font-size: 200%
        col(1/4)
      .bigBtn
        @extend .btn
        border-radius: 50%
        font-size: 200%
        height: 200px
        line-height: 190px
        center(200px)
        margin-bottom: 20px
        /*
      .label
        font-size: 200%
        label
          @extend .btn
          border-radius: 10%
          height: 100px
          line-height: 90px
          cursor: pointer
          col(1/4)
        input
          display: none
          col(1/4)
          &:checked + label
            color: red
            */
*,*:after,*:before
  box-sizing: border-box
  

.switch
  //add z-index for showing the button upper the container
  z-index: 1
  margin: 50px
  center(150px)
  height: 150px
  position: relative
  input
    /* First, we make it as wide as the container */
    position: absolute
    left:0
    width: 100%
    height: 100%
    /* Then, we put it on top of everything else */
    z-index: 100
    /* Last, we make it invisible */
    opacity: 0
    /* This one is just for ergonomy */
    cursor: pointer
  label
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: #a5a39d;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
    text-shadow: 0 2px 1px rgba(0,0,0,0.25);
    border-radius: 50%;
    background: #b25244; /* Fallback */
    background: linear-gradient(#f7f2f6, #b2ac9e);
    transition: all 0.2s
    z-index: -1;
    box-shadow:
      inset 0 2px 3px rgba(255,255,255,0.13),
      0 5px 8px rgba(0,0,0,0.3),
      0 10px 10px 4px rgba(0,0,0,0.3);
    &:before
      content: ""; 
      position: absolute;
      left: -10px;
      right: -10px;
      top: -10px;
      bottom: -10px;
      z-index: -2;
      border-radius: 50%;
      box-shadow: inset 0 10px 10px             rgba(0,0,0,0.13); 
      -webkit-filter:blur(1px); /* Smooth trick */
      filter: blur(1px); /* Future-proof */
    &:after
      content: ""; 
      position: absolute;
      left: -20px;
      right: -20px;
      top: -20px;
      bottom: -20px;
      z-index: -2;
      border-radius: 50%;
      box-shadow:
        inset 0px 0px 1px 0px rgba(0,0,0,0.5)
  input:checked
    ~ label
        color: #7f543f
        box-shadow:
          inset 0 5px 3px rgba(127,84,63,0.13),
          0 5px 8px rgba(127,84,63,0.35),
          0 3px 10px 4px rgba(127,84,63,0.2)
        :before
          box-shadow: inset 0 10px 10px             rgba(255,84,63,0.5)
          
.optionItem
  col(1/4)
  padding: 5px
  .smallSwitch
    //add z-index for showing the button upper the container
    z-index: 1
    center(100px)
    height: 100px
    position: relative
    input
      /* First, we make it as wide as the container */
      position: absolute
      left:0
      width: 100%
      height: 100%
      /* Then, we put it on top of everything else */
      z-index: 100
      /* Last, we make it invisible */
      opacity: 0
      /* This one is just for ergonomy */
      cursor: pointer
    label
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      color: #a5a39d;
      font-size: 50px;
      text-align: center;
      line-height: 100px;
      text-shadow: 0 2px 1px rgba(0,0,0,0.25);
      border-radius: 50%;
      background: #b25244; /* Fallback */
      background: linear-gradient(#f7f2f6, #b2ac9e);
      transition: all 0.3s ease-out;
      z-index: -1;
      box-shadow:
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.3),
        0 10px 10px 4px rgba(0,0,0,0.3);
      &:before
        content: ""; 
        position: absolute;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        z-index: -2;
        border-radius: 50%;
        box-shadow: inset 0 10px 10px             rgba(0,0,0,0.13); 
        -webkit-filter:blur(1px); /* Smooth trick */
        filter: blur(1px); /* Future-proof */
    input:checked
      ~ label
          color: #7f543f
          box-shadow:
            inset 0 5px 3px rgba(127,84,63,0.13),
            0 5px 8px rgba(127,84,63,0.35),
            0 3px 10px 4px rgba(127,84,63,0.2)
          :before
            box-shadow: inset 0 10px 10px             rgba(255,84,63,0.5)

