doctype html
html.no-js
head
    meta(charset='utf-8')
    title gulpWepApp
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
       Place favicon.ico and apple-touch-icon.png in the root directory 
    //
       build:css styles/vendor.css 
    //
       bower:css
    //
       endbower 
    //
       endbuild 
    //
       build:css styles/main.css 
    link(rel='stylesheet', href='styles/main.css')
    //
       endbuild 
    //
       build:js scripts/vendor/modernizr.js 
    script(src='bower_components/modernizr/modernizr.js')
    //
       endbuild 
  body
    //if lt IE 10
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    .container
      .title Classroom
      .form
        .subForm.completeForm
          .completeValue.countValue 0
          button complete
        .subForm.radioForm
          .radioValues
            .radioValue 0
            .radioValue 0
            .radioValue 0
            .radioValue 0
          .label
            input(type='radio' name='answer' id='a' value='a')
            label(for='a') a
            input(type='radio' name='answer' id='b' value='b')
            label(for='b') b
            input(type='radio' name='answer' id='c' value='c')
            label(for='c') c
            input(type='radio' name='answer' id='d' value='d')
            label(for='d') d
          .radioInputs
    //
    script(src='http://l2.io/ip.js?var=userip')
    script(src='/socket.io/socket.io.js')
    //
       bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/webcomponentsjs/webcomponents.js')
    //
       endbower 
    //
       endbuild 
    //
       build:js scripts/plugins.js 
    //
       endbuild 
    //
       build:js scripts/main.js 
    script(src='scripts/main.js')
    //
       endbuild 

